<html>
  <head>
    <title><%=message%></title>
    <link rel="stylesheet" href="/css/error.css" />
  </head>
  <div id="main">
    <div class="fof">
      <h1>Error 404. <%=message%></h1>
    </div>
  </div>
</html>
